{% extends "base.html" %}
{%block head%}
<title>Create project</title>
{%endblock head%}
{%block main%}
        <div>
            <h1>Create a new project</h1>
            <form method="POST">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit">Create</button>
            </form>
        </div>
{%endblock main%}
